graph {
	padding: 20;
}

node { 
	shape: circle; 
	size: 20px, 20px; 
	fill-mode: dyn-plain;
	fill-color: green; 
	stroke-mode: plain; 
	stroke-color: blue; 
	text-background-mode: rounded-box;
	text-visibility-mode: normal;
	text-alignment: under;
	text-size: 18;
	text-color: black;
	text-padding: 3;
	text-offset: 0, 5;
	text-background-color: #CECECE;
}